#sand7 {
  position: relative;
  height: 300px;
}
#sand7 p {
  font-size: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#sand8 {
  position: relative;
  height: 800px;
}
#sand8 p {
  font-size: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#sand9 ol .ex01 {
  display: flex;
  width: 800px;
  position: relative;
}
#sand9 ol .ex01 .custom01 {
  color: blue;
  font-size: 20px;
}
#sand9 ol .ex01 .custom01:after {
  content: "";
  display: block;
  background-color: blue;
  position: absolute;
  transition: all 1s ease;
  height: 5px;
  width: 0%;
  left: 0;
}
#sand9 ol .ex01 .custom01:hover {
  color: white;
}
#sand9 ol .ex01 .custom01:hover:after {
  width: 100%;
}
#sand9 ol .ex02 {
  display: flex;
  width: 800px;
  position: relative;
}
#sand9 ol .ex02 .custom02 {
  color: gray;
  font-size: 20px;
}
#sand9 ol .ex02 .custom02:after {
  content: "";
  display: block;
  background-color: blue;
  position: absolute;
  transition: all 1s ease;
  height: 5px;
  width: 0%;
  right: 0;
}
#sand9 ol .ex02 .custom02:hover {
  color: blue;
}
#sand9 ol .ex02 .custom02:hover:after {
  width: 200px;
}
#sand9 ol .ex03 {
  display: flex;
  width: 800px;
  position: relative;
}
#sand9 ol .ex03 .custom03 {
  color: purple;
  font-size: 20px;
}
#sand9 ol .ex03 .custom03:after {
  content: "";
  display: block;
  background-color: purple;
  position: absolute;
  transition: all 1s ease;
  height: 5px;
  width: 0%;
  right: 0;
}
#sand9 ol .ex03 .custom03:hover {
  color: blue;
}
#sand9 ol .ex03 .custom03:hover:after {
  left: 0;
  width: 100%;
}
#sand9 ol .ex04 {
  display: flex;
  width: 800px;
  position: relative;
}
#sand9 ol .ex04 .custom04 {
  color: red;
  font-size: 20px;
}
#sand9 ol .ex04 .custom04:after {
  content: "";
  display: block;
  background-color: red;
  position: absolute;
  transition: all 1s ease;
  height: 5px;
  width: 0%;
  right: 0;
}
#sand9 ol .ex04 .custom04:hover {
  color: blue;
}
#sand9 ol .ex04 .custom04:hover:after {
  left: 0;
  width: 50%;
}

#sand10 img {
  height: 100px;
  -webkit-animation: move 1s ease 1s infinite alternate;
          animation: move 1s ease 1s infinite alternate;
}

#sand11 img {
  height: 100px;
  -webkit-animation: newmove 1s ease 1s infinite alternate;
          animation: newmove 1s ease 1s infinite alternate;
}

#sand12 img {
  height: 100px;
  -webkit-animation: rotate 1s ease 1s infinite alternate;
          animation: rotate 1s ease 1s infinite alternate;
}

@-webkit-keyframes move {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(50px);
  }
}

@keyframes move {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(50px);
  }
}
@-webkit-keyframes newmove {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(2, 2);
  }
}
@keyframes newmove {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(2, 2);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(-270deg);
  }
}
@keyframes rotate {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(-270deg);
  }
}
.exp_header {
  display: flex;
  justify-content: space-between;
}
.exp_header .sandbox_menu4 {
  display: flex;
  height: 100%;
  overflow: hidden;
}
.exp_header .sandbox_menu4 > li {
  background-color: white;
  padding: 0 20px;
  border: black solid 1px;
}
.exp_header .sandbox_menu4 > li > a {
  color: black;
}
.exp_header .sandbox_menu4 > li .sandbox_submenu4 > li > a {
  color: black;
}